[program:ls]
command=/bin/ls -l
numprocs=1
autostart=true
autorestart=false
exitcodes=1
startsecs=1
startretries=1
stopsignal=TERM
stopwaitsecs=10
stdout_logfile=/tmp/out
stderr_logfile=/tmp/err
environnement=HELLO="bonjour", WORLD="salut"
directory=/tmp
umask=000

[program:echo]
command=/bin/echo "hello world"
numprocs=1
autostart=true
autorestart=false
exitcodes=1
startsecs=1
startretries=1
stopsignal=TERM
stopwaitsecs=10
stdout_logfile=/tmp/out_2
stderr_logfile=/tmp/err
environnement=HELLO="bonjour", WORLD="salut"
directory=/tmp
umask=000

[program:fatls]
command=/bin/ls -lR /
numprocs=5
autostart=false
autorestart=false
stdout_logfile=/tmp/out_3
startsecs=30

[program:pwd]
command=/bin/pwd
numprocs=10
autostart=true
autorestart=false
exitcodes=1
startsecs=0
startretries=1
stopsignal=TERM
stopwaitsecs=10
stdout_logfile=/tmp/out_4
stderr_logfile=/tmp/err
environnement=PWD="/Users/ariard"
directory=/tmp
umask=000

[server]
port=4250
password=123
