[program:touch]
command=/usr/bin/touch bonjour
numprocs=1
autostart=true
autorestart=unexpected
startsecs=1
startretries=0
stopsignal=TERM
stopwaitsecs=10
stdout_logfile=/dev/null
stderr_logfile=/dev/null
environnement=HELLO="bonjour"
directory=/tmp
umask=022

[program:ls]
command=/usr/bin/ls -l
numprocs=1
autostart=true
autorestart=unexpected
startsecs=1
startretries=0
stopsignal=TERM
stopwaitsecs=10
stdout_logfile=/dev/null
stderr_logfile=/dev/null
environnement=HELLO="bonjour"
directory=/tmp
umask=022
